body {
    background-image: url(../imgs/background.png);
}

#divIcon {
    height: 20vh;
    display: flex;
    justify-content: center;
    padding-top: 2vh;
}

#divBio {
    display: flex;
    justify-content: center;
}

#divIcon img {
    border-radius: 50%;
    max-width: 35vw;
    max-height: 35vw;
    box-shadow: 2px 2px 8px #c6e6ff;
}

#divBio ul {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.6;
    list-style-image: url(../imgs/teeth.ico);
    text-shadow: 2px 2px 8px #3077b1;
}

#divCards {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

.card {
    width: 80vw;
    height: 8vh;
    border: 3px solid white;
    border-radius: 50px;
    margin-top: 20px;
    display: flex;
    box-shadow: 2px 2px 8px #ffffff;
}

.card img {
    width: 44px;
    height: 44px;
    margin: 0px 30px 0px 20px;
    transform: translateY(1vh);
}

#agendamentos {
    margin-top: 7vh;
    text-align: center;
    line-height: 1.6;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 8px #3077b1;
}

#agendamentos:link {
    color: white;
}

@media (min-width: 500px) {
    .card {
        width: 400px;
    }

}
